body {
    background-color: rgb(79, 24, 24);
} 

header{
    color: rgb(255, 255, 255);
}

h1 {
    border:solid ;
    border-radius: 17px;
    display: inline-block;
}

h3 {
      color: rgb(153, 99, 99);
}
section {
    background: rgb(47, 20, 20);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.627);
}

.botao {
  border-radius: 20px;
  padding: 8px 12px;
}

#res {
    color: white;
}